.main-chat
  .main-chat__group-info
    .left-box
      .left-box__group-name
        = @group.name
        %ul.members
          Member :
          - @group.users.each do |user|
            =user.name
    .edit-box
      = link_to edit_group_path(@group), class: "edit" do
        .edit-btn
          Edit
  .main-chat__messages
    = render @messages
  .main-chat__message-form
    .form
      = form_for [@group, @message] do |f|
        .comment-box
          = f.text_field :content, class: 'comment-box__text', placeholder: 'type a message'
          = f.label :image, class: 'comment-box__img' do
            = icon('fas', 'image', class: 'icon')
            = f.file_field :image, class: 'comment-box__img__file'
        = f.submit 'Send', class: 'send-btn'