.side-bar
  .side-bar__user-name
    .top-items
      .top-items__name
        = current_user.name
      %ul.top-items__icons
        %li
          = link_to new_group_path, class: "top-items__icons--new-group" do
            %i.fa.fa-edit
            %span<>
        %li
          = link_to edit_user_path(current_user), class: "top-items__icons--edit-user" do
            %i.fa.fa-cog
            %span<>
  .side-bar__group-list
    - current_user.groups.each do |group|
      .group
        = link_to group_messages_path(group) do
          .group__group-name
            =group.name
          .group__first-message
            = group.show_last_message